.content {
  border: 3px solid black;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
  flex-wrap: wrap;
}

.content div {
  width: 400px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
